<% layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center mt-2 mb-4">
    <div class="row">
        <div class="col-md-6 offest-md-3 col-xl-8 offset-xl-2">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1503676593575-d732ab11be71?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjR8fGJvb2tzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/login" method="POST" class="validation " novalidate>

                        <div class="mb-3">
                            <label class="form-label"for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="valid-feedback">looks good</div>
                        </div>
                    
                        <div class="mb-3">
                            <label class="form-label"for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                        </div>
                    
                        <button class=" btn btn-success btn-block">Login</button>
                    
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>


